@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.mala {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  position: absolute;
  top: 15px;
}

@media only screen and (max-width: 990px) {
  .mala {
    left: 80px;
  }
}
